body {
  background-color: #c4e2e6;
}


.conversion-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0px 20px 20px 20px;
  width: 400px;
  margin: 100px auto;
}

.header-wrapper {
  text-align: center;
  width: 100%;
  margin: 0px auto;
  /* font-size: 14px; */
}

h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #b197fc;
}

.currency-inputs{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.currency-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f2;
  border-radius: 15px;
  padding: 0px 20px;
  /* width: 100%; */
}

#symbol-first,
#symbol-second {
  font-size: 22px;
  font-family: "Rubik", sans-serif;
  color: #06771f;
}


 input {
  padding: 15px 0px 15px 0px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #f2f4f2;
  margin: 10px 20px;
  background-color: #f2f4f2;
  font-family: "Rubik", sans-serif;
  font-size: 28.5px;
  width: 70%;
  /* border: 1px solid black; */
} 

::placeholder {
  color: #000000;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #000000;
}

#firstCurrencyOption,
#secondCurrencyOption {
  padding: 5px;
  /* margin: 0 10px; */
  background-color: #f2f4f2;
  color: #000000;
  border: none;
  /* border-radius: 5px; */
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
  border: transparent
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.number-container {
  width: 393px;
  height: 320px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 1.8em;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  font-family: "Rubik", sans-serif;

}

.numbers {
  box-sizing: border-box;
  text-align: center;
  width: 90px;
  height: 60px;
  padding-top: 25px;
  font-size: 24px;
  cursor: pointer;
}


/* mobile responsiveness*/

@media (max-width: 480px) {
  
.conversion-section{
  padding: 0px 20px 20px 20px;
  width: 300px;
  margin:100px auto;
  justify-content: center;
  align-items: center;
}

.currency-inputs{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.currency-input{
  border-radius: 15px;
  padding: 0px 15px;
  /* width: 100%; */
}

#symbol-first,
#symbol-second {
  font-size: 20px;
}


 input {
  padding: 10px 0px 10px 0px;
  height: 30px;
  font-size: 16px;
  border-radius: 15px;
  margin: 10px 25px 10px 20;
  font-size: 25px;
  width: 70%;
} 
#firstCurrencyOption,
#secondCurrencyOption {
  font-size: 15px;
}

.number-container {
  /* box-sizing: border-box; */
  width: 340px;
  height: 310px;
  gap: 1em;
  margin: 0 auto;
  padding: 0 30px;
  font-family: "Rubik", sans-serif;

}

.numbers {
  width: 90px;
  height: 60px;
  padding-top: 25px;
  font-size: 22px;
}
}