body {
  background: linear-gradient(45deg, #000000, #38493b);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 35%;
}

#main {
    display: flex;
    flex-direction: column;
    border: 1px solid #222222;
    width: 600px;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: #222222;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper > h4 {
  margin: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(64, 145, 71);
  /* margin-bottom: 40px; */
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  margin: 0 10px;
  background-color: rgb(126, 126, 126);
  font-family: "Rubik", sans-serif;
  border: linea;
}

::placeholder {
  color: rgb(26, 59, 42);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgb(26, 59, 42);
}

select {
  padding: 5px;
  margin: 0 10px;
  background: linear-gradient(90deg, #063114, #148869);
  border: none;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

i {
  color: rgba(95, 170, 104, 0.753);
}